html {
    border-top-color: #0A122A;
    border-top-width: 2rem;
    border-top-style: solid;
    background-color: #ECEBE4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    /* border-bottom-color:#0A122A;
    border-bottom-width: 2rem;
    border-bottom-style: solid; */
}

nav {
    font-size: 1.25rem;
}
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    padding-left: 2rem;
    text-decoration: underline;
}

nav ul li a {
    color:#0A122A;
}

nav ul li a:hover {
    color:#6C91C2;
    font-size: 1.4rem;
    transition: 0.5s;
    
}

hr {
    /* margin-top: 3rem; */
    margin-left: -.5rem;
    margin-right: -.5rem;
    height: .5rem; 
    background-color: #2E4052; 
    border: none; 

}

#intro {
    display: flex;
    justify-content: space-around;
    margin:auto;
}

#aboutMe {
    justify-content: space-evenly;
    margin-top: -1.25rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
    background-color: #6C91C2;
}


.hobby {
    display: flex;
    justify-content: center;
}

.hobby img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 10rem;
}

.hobby h3 {
    font-size: 1.35rem;
}

.hobby a {
    font-style: italic;
    color:black;
}

#experiences {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 4rem;
}

h2 {
    padding-top:2rem;
    text-align: center;
}

.experience {
    width: 30%;
    margin: auto;
}

footer {
    display:flex;
    background-color: #0A122A;
    height: 7rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -1rem;
    justify-content: center;
    align-items: center;
}

footer a {
    color: #ECEBE4;
    font-size: 1.1rem;
}


#intro h2 {
    text-align: left;
}